#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
img {
  width: 100%;
}
#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #b10b0b;
  background-image: url(images/wooden-floor-1573219179k8J.jpg);
  background-size: cover;
  z-index: -1;
}
#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#cookie_container {
  width: 10%;
  height: 10%;
}
@keyframes jump {
  0% {
    translate: (0, 0);
  }
  50% {
    translate: (400%, 0);
  }
  100% {
    translate: (-400, 0);
  }
}
