body {
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}
#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  pointer-events: none;
}
img {
  width: 100%;
}
#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #b10b0b;
  background-image: url(images/wooden-floor-1573219179k8J.jpg);
  background-size: cover;
  pointer-events: none;
}
#cookie_container_container * {
  position: relative;
  pointer-events: all;
}
#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
}
#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
}
#score_board {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 83%;
}
#scoreNum {
  position: absolute;
  font-size: 180%;
  text-align: center;
  top: 39%;
  right: 43%;
  font-family: papyrus;
}
#time_board {
  position: absolute;
  width: 12%;
  height: 12%;
  top: -3%;
  left: -1%;
}
#life_container1,
#life_container2,
#life_container3 {
  position: absolute;
  bottom: 6%;
  z-index: 2;
  width: 5%;
  height: 5%;
}

#life_container1 {
  left: 1%;
}
#life_container2 {
  left: 5%;
}
#life_container3 {
  left: 9%;
}

#cookie_img {
  filter: drop-shadow(30px 1px 16px #000);
}
#cookie_container1,
#cookie_container2,
#cookie_container3 {
  position: absolute;
  width: 10%;
  top: 50%;
  left: -15%;
}
#cookie_container2 {
  top: 20%;
}
#cookie_container3 {
  top: 70%;
}
.bad_cookie {
  filter: hue-rotate(90deg);
}
.roll {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}
@keyframes spin {
  100% {
    rotate: 720deg;
    transform: translateX(1200%);
    transform-origin: 1250% 50%;
  }
}

.clicked {
  animation-name: clicked;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes clicked {
  0% {
  }
  50% {
    transform: scale(150%) rotate(0deg);
  }
  100% {
    transform: scale(0%) rotate(720deg);
  }
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes wiggle {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.pause {
  animation-play-state: paused;
}
.cookie {
  width: 100px;
  height: 100px;
  background-image: url("images/Timer_cookie.png");
  background-size: cover;
}
.cookie_timer {
  animation-name: cookie-disappear;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes cookie-disappear {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
